{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Plant Store",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.hierarch.io/v1"
    }
  ],
  "security": [
    {
      "api_key": []
    }
  ],
  "paths": {
    "/plants": {
      "get": {
        "description": "Returns all plants from the system that the user has access to",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Plant response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Plant"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a new plant in the store",
        "requestBody": {
          "description": "Plant to add to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPlant"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "plant response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plant"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/plants/{id}": {
      "delete": {
        "description": "Deletes a single plant based on the ID supplied",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of plant to delete",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Plant deleted",
            "content": {}
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },




    "/company/get/{company_slug}/": {
      "get": {
        "description": "Retrieves company information",
        "parameters": [
          {
            "name": "company_slug",
            "in": "path",
            "description": "This is your company url",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          },
          "400": {
            "description": "Missing Parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error404"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error500"
                }
              }
            }
          }
        }
      }
    },
    "/product/query/{company_slug}/": {
      "get": {
        "description": "Retrieves product array",
        "parameters": [
          {
            "name": "company_slug",
            "in": "path",
            "description": "This is your company url",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "header",
            "description": "Search term, blank by default",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "header",
            "description": "Page number, 1 by default",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "header",
            "description": "Data order - newest / oldest",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Products_loop"
                }
              }
            }
          },
          "400": {
            "description": "Missing Parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error404"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error500"
                }
              }
            }
          }
        }
      }
    },
    "/product/get/{company_slug}/{product_id}/": {
      "get": {
        "description": "Retrieves single product information",
        "parameters": [
          {
            "name": "company_slug",
            "in": "path",
            "description": "This is your company url",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product_id",
            "in": "path",
            "description": "Product ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Products_single"
                }
              }
            }
          },
          "400": {
            "description": "Missing Parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error404"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error500"
                }
              }
            }
          }
        }
      }
    },
    "/product/create/{company_slug}/": {
      "post": {
        "description": "Create new product",
        "parameters": [
          {
            "name": "company_slug",
            "in": "path",
            "description": "This is your company url",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Creates new product record",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Products_create"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success200"
                }
              }
            }
          },
          "400": {
            "description": "Missing Parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error404"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error500"
                }
              }
            }
          }
        }
      }
    },
    "/product/edit/{company_slug}/{product_id}/": {
      "post": {
        "description": "Edit product information",
        "parameters": [
          {
            "name": "company_slug",
            "in": "path",
            "description": "This is your company url",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product_id",
            "in": "path",
            "description": "Product ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Plant to add to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Products_create"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success200"
                }
              }
            }
          },
          "400": {
            "description": "Missing Parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error404"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error500"
                }
              }
            }
          }
        }
      }
    },
    "/product/delete/{company_slug}/{product_id}/": {
      "get": {
        "description": "Delete product",
        "parameters": [
          {
            "name": "company_slug",
            "in": "path",
            "description": "This is your company url",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product_id",
            "in": "path",
            "description": "Product ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success200"
                }
              }
            }
          },
          "400": {
            "description": "Missing Parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error404"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error500"
                }
              }
            }
          }
        }
      }
    },
    "/role/query/{company_slug}/": {
      "get": {
        "description": "Retrieves roles array",
        "parameters": [
          {
            "name": "company_slug",
            "in": "path",
            "description": "This is your company url",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "header",
            "description": "Search term, blank by default",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "header",
            "description": "Page number, 1 by default",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "header",
            "description": "Data order - newest / oldest",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Roles_loop"
                }
              }
            }
          },
          "400": {
            "description": "Missing Parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error404"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error500"
                }
              }
            }
          }
        }
      }
    },
    "/role/get/{company_slug}/{role_id}/": {
      "get": {
        "description": "Retrieves single role",
        "parameters": [
          {
            "name": "company_slug",
            "in": "path",
            "description": "This is your company url",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "role_id",
            "in": "path",
            "description": "Role ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Roles_single"
                }
              }
            }
          },
          "400": {
            "description": "Missing Parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error404"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error500"
                }
              }
            }
          }
        }
      }
    },
    "/consultation/query/{company_slug}/": {
      "get": {
        "description": "Retrieves product array",
        "parameters": [
          {
            "name": "company_slug",
            "in": "path",
            "description": "This is your company url",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "header",
            "description": "Search term, blank by default",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "header",
            "description": "Page number, 1 by default",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "header",
            "description": "Data order - newest / oldest",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Consultations_loop"
                }
              }
            }
          },
          "400": {
            "description": "Missing Parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error404"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error500"
                }
              }
            }
          }
        }
      }
    },
    "/consultation/get/{company_slug}/{consultation_id}/": {
      "get": {
        "description": "Retrieves single consultation",
        "parameters": [
          {
            "name": "company_slug",
            "in": "path",
            "description": "This is your company url",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "consultation_id",
            "in": "path",
            "description": "Consultation ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Consultation_single"
                }
              }
            }
          },
          "400": {
            "description": "Missing Parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error404"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error500"
                }
              }
            }
          }
        }
      }
    },
    "/consultation/create/{company_slug}/": {
      "post": {
        "description": "Create new consultation",
        "parameters": [
          {
            "name": "company_slug",
            "in": "path",
            "description": "This is your company url",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Creates new product record",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Consultation_create"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success200"
                }
              }
            }
          },
          "400": {
            "description": "Missing Parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error404"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error500"
                }
              }
            }
          }
        }
      }
    },
    "/consultation/edit/{company_slug}/{consultation_id}/": {
      "post": {
        "description": "Edit product information",
        "parameters": [
          {
            "name": "company_slug",
            "in": "path",
            "description": "This is your company url",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "consultation_id",
            "in": "path",
            "description": "Consultation ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Consultation details to edit",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Consultation_edit"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success200"
                }
              }
            }
          },
          "400": {
            "description": "Missing Parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error404"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error500"
                }
              }
            }
          }
        }
      }
    }


  },
  "components": {
    "schemas": {
      "Plant": {
        "required": [
          "slug"
        ],
        "type": "object",
        "properties": {
          "slug": {
            "description": "The company url",
            "type": "string"
          },
          "name": {
            "description": "The name of the company",
            "type": "string"
          }
        }
      },
      "NewPlant": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Plant"
          },
          {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "description": "Identification number of the plant",
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ]
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      },





      "Company": {
        "required": [
          "slug"
        ],
        "type": "object",
        "properties": {
          "slug": {
            "description": "The company url",
            "type": "string"
          },
          "name": {
            "description": "The name of the company",
            "type": "string"
          },
          "email": {
            "description": "The email of the owner",
            "type": "string"
          },
          "url": {
            "description": "Company website",
            "type": "string"
          },
          "description": {
            "description": "Company description",
            "type": "string"
          },
          "slogan": {
            "description": "Company slogan",
            "type": "string"
          },
          "country": {
            "description": "Country where the company is based",
            "type": "string"
          },
          "address": {
            "description": "Complete company address",
            "type": "string"
          },
          "state_region": {
            "description": "State / Region",
            "type": "string"
          },
          "postcode": {
            "description": "Postal code",
            "type": "string"
          },
          "sector": {
            "description": "Business sector",
            "type": "string"
          },
          "industry": {
            "description": "Industry that the company operates",
            "type": "string"
          },
          "currency": {
            "description": "Currency used in transactions",
            "type": "string"
          },
          "logo": {
            "description": "Company logo url",
            "type": "string"
          },
          "banner": {
            "description": "Company banner url",
            "type": "string"
          },
          "thumbnail": {
            "description": "Auto-generated - Company thumbnail url",
            "type": "string"
          },
          "datetime": {
            "description": "Date and time the company was created",
            "type": "string"
          },
          "skype": {
            "description": "Company skype account",
            "type": "string"
          },
          "slack": {
            "description": "Company slack account",
            "type": "string"
          },
          "whatsapp": {
            "description": "Company whatsapp account",
            "type": "string"
          },
          "msteams": {
            "description": "Company msteams account",
            "type": "string"
          },
          "discord": {
            "description": "Company discord account",
            "type": "string"
          },
          "linkedin": {
            "description": "Company linkedin account",
            "type": "string"
          },
          "github": {
            "description": "Company github account",
            "type": "string"
          },
          "facebook": {
            "description": "Company facebook account",
            "type": "string"
          },
          "instagram": {
            "description": "Company instagram account",
            "type": "string"
          },
          "twitter": {
            "description": "Company X/twitter account",
            "type": "string"
          },
          "pinterest": {
            "description": "Company pinterest account",
            "type": "string"
          },
          "business_hour_start": {
            "description": "Start time for company operations",
            "type": "string"
          },
          "business_hour_end": {
            "description": "Closing time for company operations",
            "type": "string"
          },
          "timezone": {
            "description": "Timezone",
            "type": "string"
          },
          "sunday": {
            "description": "true if company operates on Sunday",
            "type": "string"
          },
          "monday": {
            "description": "true if company operates on Monday",
            "type": "string"
          },
          "tuesday": {
            "description": "true if company operates on Tuesday",
            "type": "string"
          },
          "wednesday": {
            "description": "true if company operates on Wednesday",
            "type": "string"
          },
          "thusrday": {
            "description": "true if company operates on Thursday",
            "type": "string"
          },
          "friday": {
            "description": "true if company operates on Friday",
            "type": "string"
          },
          "saturday": {
            "description": "true if company operates on Saturday",
            "type": "string"
          }
        }
      },
      "Products_loop": {
        "required": [
          "slug"
        ],
        "type": "object",
        "properties": {
          "loop": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32"
                },
                "name": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "last_updated": {
                  "type": "string"
                },
                "datetime": {
                  "type": "string"
                }
              }
            }
          },
          "current_page": {
            "description": "Current data page",
            "type": "string"
          },
          "max_page": {
            "description": "Maximum number of pages",
            "type": "string"
          },
          "start_count": {
            "description": "Starting data count",
            "type": "string"
          },
          "end_count": {
            "description": "Ending data count",
            "type": "string"
          },
          "max_count": {
            "description": "Maximum number of data",
            "type": "string"
          }
          
        }
      },
      "Products_single": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "description": "Product name",
            "type": "string"
          },
          "description": {
            "description": "Product description",
            "type": "string"
          },
          "what_you_get": {
            "description": "List of things/values the client will get",
            "type": "string"
          },
          "price": {
            "description": "Product price, e.g. 1000",
            "type": "string"
          },
          "currency": {
            "description": "Currency, e.g. USD",
            "type": "string"
          },
          "datetime": {
            "description": "Date and time the product was created",
            "type": "string"
          },
          "last_updated": {
            "description": "Date and time the product was last updated",
            "type": "string"
          }
          
        }
      },
      "Products_create": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "Product name",
            "type": "string"
          },
          "description": {
            "description": "Product description",
            "type": "string"
          },
          "what_you_get": {
            "description": "Describe what the buyer will be getting",
            "type": "string"
          },
          "price": {
            "description": "Product price",
            "type": "string"
          },
          "currency": {
            "description": "Currency, e.g. USD",
            "type": "string"
          }
        }
      },
      "Roles_loop": {
        "required": [
          "slug"
        ],
        "type": "object",
        "properties": {
          "loop": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32"
                },
                "name": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                }
              }
            }
          },
          "current_page": {
            "description": "Current data page",
            "type": "string"
          },
          "max_page": {
            "description": "Maximum number of pages",
            "type": "string"
          },
          "start_count": {
            "description": "Starting data count",
            "type": "string"
          },
          "end_count": {
            "description": "Ending data count",
            "type": "string"
          },
          "max_count": {
            "description": "Maximum number of data",
            "type": "string"
          }
          
        }
      },
      "Roles_single": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "description": "Role name",
            "type": "string"
          },
          "description": {
            "description": "Role description",
            "type": "string"
          },
          "can_view_company": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_view_allrole": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_view_role": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_create_role": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_edit_role": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_delete_role": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_view_allproduct": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_view_product": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_create_product": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_edit_product": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_delete_product": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_view_allconsultation": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_view_consultation": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_create_consultation": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_edit_consultation": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_delete_consultation": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_view_allpipeline": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_view_pipeline": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_create_pipeline": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_edit_pipeline": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_delete_pipeline": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_view_allclient": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_view_client": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_create_client": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_edit_client": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_delete_client": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_view_allticket": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_view_ticket": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_create_ticket": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_edit_ticket": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_delete_ticket": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_view_allpersonnel": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_view_personnel": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_create_personnel": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_edit_personnel": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_delete_personnel": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_view_allhandbook": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_view_handbook": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_create_handbook": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_edit_handbook": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_delete_handbook": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_view_allassignment": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_view_assignment": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_create_assignment": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_edit_assignment": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_delete_assignment": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_view_allannouncement": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_view_announcement": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_create_announcement": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_edit_announcement": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_delete_announcement": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_view_allmemo": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_view_memo": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_create_memo": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_edit_memo": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_delete_memo": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_view_allleave": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_view_leave": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_create_leave": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_edit_leave": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_delete_leave": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_view_notebox": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_create_notebox": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_edit_notebox": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_delete_notebox": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_view_allreview": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_view_review": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_create_review": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_edit_review": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_delete_review": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_view_allform": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_view_form": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_create_form": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_edit_form": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_delete_form": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_view_allworkflow": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_view_workflow": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_create_workflow": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_edit_workflow": {
            "description": "true if role has access",
            "type": "boolean"
          },
          "can_delete_workflow": {
            "description": "true if role has access",
            "type": "boolean"
          }
          
        }
      },
      "Consultations_loop": {
        "required": [
          "slug"
        ],
        "type": "object",
        "properties": {
          "loop": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32"
                },
                "title": {
                  "type": "string"
                },
                "schedule": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "last_updated": {
                  "type": "string"
                },
                "datetime": {
                  "type": "string"
                }
              }
            }
          },
          "current_page": {
            "description": "Current data page",
            "type": "string"
          },
          "max_page": {
            "description": "Maximum number of pages",
            "type": "string"
          },
          "start_count": {
            "description": "Starting data count",
            "type": "string"
          },
          "end_count": {
            "description": "Ending data count",
            "type": "string"
          },
          "max_count": {
            "description": "Maximum number of data",
            "type": "string"
          }
          
        }
      },
      "Consultation_single": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "consultation": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer",
                "format": "int32"
              },
              "status": {
                "description": "Status e.g. open/scheduled/closed",
                "type": "string"
              },
              "schedule": {
                "description": "Schedule of the consultation",
                "type": "string"
              },
              "location": {
                "description": "Physical location or online",
                "type": "string"
              },
              "url": {
                "description": "URL",
                "type": "string"
              },
              "title": {
                "description": "Title of the consultation",
                "type": "string"
              },
              "description": {
                "description": "Description of the consultation",
                "type": "string"
              },
              "notes": {
                "description": "Internal notes",
                "type": "string"
              },
              "product": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "name": {
                    "description": "Product name",
                    "type": "string"
                  },
                  "price": {
                    "description": "Product price",
                    "type": "string"
                  },
                  "currency": {
                    "description": "USD",
                    "type": "string"
                  }
                }
              },
              "datetime": {
                "description": "Date and time the consultation was created",
                "type": "string"
              }
            }
          },
          "consultants": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer",
                "format": "int32"
              },
              "first_name": {
                "description": "First name of consultant",
                "type": "string"
              },
              "last_name": {
                "description": "Last name of consultant",
                "type": "string"
              },
              "profile_photo": {
                "description": "URL of the profile photo",
                "type": "string"
              },
              "role_name": {
                "description": "Role of the consultant within the company",
                "type": "string"
              }
            }
          },
          "clients": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer",
                "format": "int32"
              },
              "first_name": {
                "description": "First name of consultant",
                "type": "string"
              },
              "last_name": {
                "description": "Last name of consultant",
                "type": "string"
              },
              "profile_photo": {
                "description": "URL of the profile photo",
                "type": "string"
              },
            }
          }
  
        }
      },
      "Consultation_create": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "title": {
            "description": "Consultation title",
            "type": "string"
          },
          "description": {
            "description": "Consultation description",
            "type": "string"
          },
          "url": {
            "description": "Description of the consultation",
            "type": "string"
          },
          "location": {
            "description": "Physical location or online",
            "type": "string"
          },
          "schedule": {
            "description": "Schedule of the consultation",
            "type": "string"
          },
          "product_id": {
            "description": "Product ID",
            "type": "string"
          }
        }
      },
      "Consultation_edit": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "status": {
            "description": "Status e.g. open/scheduled/closed",
            "type": "string"
          },
          "schedule": {
            "description": "Schedule of the consultation",
            "type": "string"
          },
          "location": {
            "description": "Physical location or online",
            "type": "string"
          },
          "url": {
            "description": "URL",
            "type": "string"
          },
          "title": {
            "description": "Title of the consultation",
            "type": "string"
          },
          "description": {
            "description": "Description of the consultation",
            "type": "string"
          },
          "notes": {
            "description": "Internal notes",
            "type": "string"
          },
          "product_id": {
            "description": "Product ID",
            "type": "string"
          }
        }
      },



      "Success200": {
        "required": [
          "result"
        ],
        "type": "object",
        "properties": {
          "result": {
            "type": "string"
          }
        }
      },
      "Error400": {
        "required": [
          "result"
        ],
        "type": "object",
        "properties": {
          "result": {
            "type": "string"
          }
        }
      },
      "Error404": {
        "required": [
          "result"
        ],
        "type": "object",
        "properties": {
          "result": {
            "type": "string"
          }
        }
      },
      "Error500": {
        "required": [
          "result"
        ],
        "type": "object",
        "properties": {
          "result": {
            "type": "string"
          }
        }
      },
      "Error_nested_sample": {
        "required": [
          "result"
        ],
        "type": "object",
        "properties": {
          "result": {
            "type": "object",
            "properties":{
              "hey": {
                "type": "string"
              }
            }
          }
        }
      }

    },
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "name": "token",
        "in": "header"
      }
    }
    
  }
}