{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Plant Store",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.hierarch.io/v1"
    }
  ],
  "security": [
    {
      "api_key": []
    }
  ],
  "paths": {
    "/plants": {
      "get": {
        "description": "Returns all plants from the system that the user has access to",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Plant response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Plant"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a new plant in the store",
        "requestBody": {
          "description": "Plant to add to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPlant"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "plant response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plant"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/plants/{id}": {
      "delete": {
        "description": "Deletes a single plant based on the ID supplied",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of plant to delete",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Plant deleted",
            "content": {}
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },




    "/company/get/{company_slug}/": {
      "get": {
        "description": "Retrieves company information",
        "parameters": [
          {
            "name": "company_slug",
            "in": "path",
            "description": "This is your company url",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          },
          "400": {
            "description": "Missing Parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error404"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error500"
                }
              }
            }
          }
        }
      }
    },
    "/product/query/{company_slug}/": {
      "get": {
        "description": "Retrieves product array",
        "parameters": [
          {
            "name": "company_slug",
            "in": "path",
            "description": "This is your company url",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "header",
            "description": "Search term, blank by default",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "header",
            "description": "Page number, 1 by default",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "header",
            "description": "Data order - newest / oldest",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Products_loop"
                }
              }
            }
          },
          "400": {
            "description": "Missing Parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error404"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error500"
                }
              }
            }
          }
        }
      }
    },
    "/product/get/{company_slug}/{product_id}/": {
      "get": {
        "description": "Retrieves single product information",
        "parameters": [
          {
            "name": "company_slug",
            "in": "path",
            "description": "This is your company url",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product_id",
            "in": "path",
            "description": "Product ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Products_single"
                }
              }
            }
          },
          "400": {
            "description": "Missing Parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error404"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error500"
                }
              }
            }
          }
        }
      }
    },
    "/product/create/{company_slug}/": {
      "post": {
        "description": "Creates a product",
        "parameters": [
          {
            "name": "company_slug",
            "in": "path",
            "description": "This is your company url",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Products_create"
                }
              }
            }
          },
          "400": {
            "description": "Missing Parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error404"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error500"
                }
              }
            }
          }
        }
      }
    }




  },
  "components": {
    "schemas": {
      "Plant": {
        "required": [
          "slug"
        ],
        "type": "object",
        "properties": {
          "slug": {
            "description": "The company url",
            "type": "string"
          },
          "name": {
            "description": "The name of the company",
            "type": "string"
          }
        }
      },
      "NewPlant": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Plant"
          },
          {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "description": "Identification number of the plant",
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ]
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      },

      "Company": {
        "required": [
          "slug"
        ],
        "type": "object",
        "properties": {
          "slug": {
            "description": "The company url",
            "type": "string"
          },
          "name": {
            "description": "The name of the company",
            "type": "string"
          },
          "email": {
            "description": "The email of the owner",
            "type": "string"
          },
          "url": {
            "description": "Company website",
            "type": "string"
          },
          "description": {
            "description": "Company description",
            "type": "string"
          },
          "slogan": {
            "description": "Company slogan",
            "type": "string"
          },
          "country": {
            "description": "Country where the company is based",
            "type": "string"
          },
          "address": {
            "description": "Complete company address",
            "type": "string"
          },
          "state_region": {
            "description": "State / Region",
            "type": "string"
          },
          "postcode": {
            "description": "Postal code",
            "type": "string"
          },
          "sector": {
            "description": "Business sector",
            "type": "string"
          },
          "industry": {
            "description": "Industry that the company operates",
            "type": "string"
          },
          "currency": {
            "description": "Currency used in transactions",
            "type": "string"
          },
          "logo": {
            "description": "Company logo url",
            "type": "string"
          },
          "banner": {
            "description": "Company banner url",
            "type": "string"
          },
          "thumbnail": {
            "description": "Auto-generated - Company thumbnail url",
            "type": "string"
          },
          "datetime": {
            "description": "Date and time the company was created",
            "type": "string"
          },
          "skype": {
            "description": "Company skype account",
            "type": "string"
          },
          "slack": {
            "description": "Company slack account",
            "type": "string"
          },
          "whatsapp": {
            "description": "Company whatsapp account",
            "type": "string"
          },
          "msteams": {
            "description": "Company msteams account",
            "type": "string"
          },
          "discord": {
            "description": "Company discord account",
            "type": "string"
          },
          "linkedin": {
            "description": "Company linkedin account",
            "type": "string"
          },
          "github": {
            "description": "Company github account",
            "type": "string"
          },
          "facebook": {
            "description": "Company facebook account",
            "type": "string"
          },
          "instagram": {
            "description": "Company instagram account",
            "type": "string"
          },
          "twitter": {
            "description": "Company X/twitter account",
            "type": "string"
          },
          "pinterest": {
            "description": "Company pinterest account",
            "type": "string"
          },
          "business_hour_start": {
            "description": "Start time for company operations",
            "type": "string"
          },
          "business_hour_end": {
            "description": "Closing time for company operations",
            "type": "string"
          },
          "timezone": {
            "description": "Timezone",
            "type": "string"
          },
          "sunday": {
            "description": "true if company operates on Sunday",
            "type": "string"
          },
          "monday": {
            "description": "true if company operates on Monday",
            "type": "string"
          },
          "tuesday": {
            "description": "true if company operates on Tuesday",
            "type": "string"
          },
          "wednesday": {
            "description": "true if company operates on Wednesday",
            "type": "string"
          },
          "thusrday": {
            "description": "true if company operates on Thursday",
            "type": "string"
          },
          "friday": {
            "description": "true if company operates on Friday",
            "type": "string"
          },
          "saturday": {
            "description": "true if company operates on Saturday",
            "type": "string"
          }
        }
      },
      "Products_loop": {
        "required": [
          "slug"
        ],
        "type": "object",
        "properties": {
          "loop": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32"
                },
                "name": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "last_updated": {
                  "type": "string"
                },
                "datetime": {
                  "type": "string"
                }
              }
            }
          },
          "current_page": {
            "description": "Current data page",
            "type": "string"
          },
          "max_page": {
            "description": "Maximum number of pages",
            "type": "string"
          },
          "start_count": {
            "description": "Starting data count",
            "type": "string"
          },
          "end_count": {
            "description": "Ending data count",
            "type": "string"
          },
          "max_count": {
            "description": "Maximum number of data",
            "type": "string"
          }
          
        }
      },
      "Products_single": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "description": "Product name",
            "type": "string"
          },
          "description": {
            "description": "Product description",
            "type": "string"
          },
          "what_you_get": {
            "description": "List of things/values the client will get",
            "type": "string"
          },
          "price": {
            "description": "Product price, e.g. 1000",
            "type": "string"
          },
          "currency": {
            "description": "Currency, e.g. USD",
            "type": "string"
          },
          "datetime": {
            "description": "Date and time the product was created",
            "type": "string"
          },
          "last_updated": {
            "description": "Date and time the product was last updated",
            "type": "string"
          }
          
        }
      },
      "Products_create": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "result": {
            "type": "string"
          }
        }
      },



      "Success200": {
        "required": [
          "result"
        ],
        "type": "object",
        "properties": {
          "result": {
            "type": "string"
          }
        }
      },
      "Error400": {
        "required": [
          "result"
        ],
        "type": "object",
        "properties": {
          "result": {
            "type": "string"
          }
        }
      },
      "Error404": {
        "required": [
          "result"
        ],
        "type": "object",
        "properties": {
          "result": {
            "type": "string"
          }
        }
      },
      "Error500": {
        "required": [
          "result"
        ],
        "type": "object",
        "properties": {
          "result": {
            "type": "string"
          }
        }
      },
      "Error_nested_sample": {
        "required": [
          "result"
        ],
        "type": "object",
        "properties": {
          "result": {
            "type": "object",
            "properties":{
              "hey": {
                "type": "string"
              }
            }
          }
        }
      }

    },
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "name": "token",
        "in": "header"
      }
    }
    
  }
}